body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-color: #0f0f0f;
      color: #ffffff;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #000000;
      padding: 15px 20px; /* Set padding to match the buttons */
    }

    nav img {
      max-height: 40px;
      transform: scale(1.5);      
      border-radius: 10px;
    }

    nav a {
      color: #ffffff;
      text-decoration: none;
      padding: 15px 20px;
      margin: 0 10px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    nav a:hover,
    nav a.selected,
    nav a.prijava:hover,
    nav a.prijava.selected {
      background-color: #ffffff;
      color: #000000;
    }

    /* Style for the "Prijava" button */
    nav a.prijava {
      background-color: #001f3f; /* Dark blue background color */
      color: #ffffff; /* White text color */
    }

    section {
      padding: 20px;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .hero {
      text-align: center;
      position: relative;
      padding: 200px 0; /* Double the height by increasing the padding */
      background-color: #1f1f1f;
      background-image: url('../Images/background.jpg'); /* Set the background image */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #ffffff;
    }

    .hero::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(50, 50, 50, 0.7); /* Semi-transparent grey overlay */
      z-index: 1;
    }

    .hero h1,
    .hero p {
      position: relative;
      z-index: 2;
    }

    .hero h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 1.2em;
      color: #aaaaaa;
    }

    .features {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .feature {
      flex: 1;
      margin: 20px;
      text-align: center;
    }

    .feature img {
      max-width: 100%;
      height: auto;
    }

    footer {
      text-align: center;
      padding: 20px 0;
      background-color: #000000;
      color: #ffffff;
    }

.login-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensure the form is on top of other elements */
  background-color: #fff; /* Background color of the form container */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 15px; /* Add some space below the title */
  color: #000000; /* Adjust text color as needed */
}

.login-container a { /* Add some space below the title */
  color: #000000; /* Adjust text color as needed */
}

/* Login Form Container Styles */
.login-container {
  visibility: hidden;
  position: fixed;
  top: 80px; /* Adjust based on the height of your navigation bar */
  right: 10px;
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Login Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  color: #000000;
  margin-bottom: 5px;
}

.login-form input {
  padding: 8px;
  margin-bottom: 10px;
}

.login-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.close {
  float: right;
  color: #000000;
  font-size: 24px; /* Adjust the font size as needed */
  cursor: pointer;
}

.event-container {
  margin-top: 3cm;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10cm;
}


.event {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #444444; /* Add a bottom border with a darker shade of gray */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Create a drop shadow effect */
  border-radius: 10px;
  padding: 10px;
  width: 10cm;
  height: 7.5cm;
  background-color: #999999;
}

.event >.ev_author{
  color: #075887;
}

.button-container {
  display: flex;
  justify-content: center;
}

a.add-event-button {
  background-color: #075887;
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
a.add-event-button:hover{
  background-color: white;
  color:  #075887;
}

.event-image {
  width: 33%;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.event a {
 background-color: #001f3f;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  display: block;
}
.event a:hover {
  background-color: #fff;
  color: #000;
}
.event h3 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #000000;
  border-bottom: 3px solid #001f3f;
  padding-bottom: 3px;
}
.event p{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #000000;
}

h1 {
  text-align: center; /* Center the <h1> element outside the event container */
}

.report-container {
  display: flex;
  margin-top: 3cm;
  margin-bottom: 10cm;
  flex-wrap: wrap;
  gap: 20px;
}

.report {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(30% - 10px); /* 33.33% width with 20px gap */
  background-color: #333; /* Dark grey background color */
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded edges */
  text-align: center;
}
.report a {
  background-color: #001f3f;
   color: #ffffff;
   padding: 15px 30px;
   border-radius: 5px;
   text-decoration: none;
   margin: auto;
   display: block;
 }
 .report a:hover {
   background-color: #fff;
   color: #000;
 }
.report-image {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(30% - 10px);
  border-radius: 10px; /* Rounded edges for the image container */
  overflow: hidden; /* Hide overflow content (if the image is larger) */
}

.report img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded edges for the image */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image */
}

.report h3 {
  margin-bottom: 10px;
}
.beautiful-form {
  max-width: 400px;
  margin: 2cm auto; /* Added margin from all sides */
  margin-bottom: 10cm;
  padding: 40px;
  padding-right: 60px;
  background-color: #001f3f;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: white; /* Changed background color to white */
  color: #001f3f; /* Changed text color to dark blue */
  transition: border-color 0.3s; /* Added transition for border color */
}

.form-input:focus {
  border-color: #075887; /* Border color on focus */
}

.form-button {
  padding: 15px; /* Increased padding for a bigger button */
  background-color: #075887; /* Changed button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.form-button:hover {
  background-color: white;
  color: #001f3f; /* Text color on hover */
}
.event-details-form {
  max-width: 400px;
  margin: 20px auto;
  margin-bottom: 10cm;
  background-color: #001f3f;
  color: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: white;
  color: #001f3f;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #075887;
}

.submit-button {
  padding: 15px;
 background-color: white;
 margin-top: 25px;
}
.file-input-container {
  position: relative;
}

.file-input-wrapper {
  position: relative;
  overflow: hidden;
}

.file-input {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  cursor: pointer;
}

.user{
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #444444; /* Add a bottom border with a darker shade of gray */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Create a drop shadow effect */
  border-radius: 10px;
  padding: 10px;
  width: 10cm;
  height: 7.5cm;
  background-color: #999999;
}

.route-container {
  margin-top: 3cm;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10cm;
}


.route {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #444444; /* Add a bottom border with a darker shade of gray */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Create a drop shadow effect */
  border-radius: 10px;
  padding: 10px;
  width: 10cm;
  height: auto;
  background-color: #702e2e;
}

.single-event .text{
  font-size: large;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
